*{
    padding: 0;
    margin: 0;
}
.jairam{
	background-image: url('https://raw.githubusercontent.com/himanshurajora/vcfftp/master/jai_shree_ram_hanuman-wallpaper-3554x1999.jpg');
}
.f60{
	background-color: #f60;
  }
.border{
    border: 2px solid rgb(10,10,10);
    border-radius: 15px; 
}
.padding-10{
    padding: 10px;
}
.padding-left{
    padding-right: 25px;
}
